<!DOCTYPE>
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "/css/style.css">
    </head>
    <body>
        <header>
            <a href = "/admin"><center></center><img class="logo" src="/images/logo.svg"></a>
            <div class="adminBar">
                <li class="edit_delete"><form action="/admin/ <%= shirt.id %>" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <input type="number" name="quant" placeholder="Quantity" required>
                    <input type="number" name="price" placeholder="$" required>
                    <input type="text" name="shirt_url" placeholder="Image URL" required>
                    <button>EDIT</button>
                </form></li>
                <li class="edit_delete"><form action="/admin/<%= shirt.id %>" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button>DELETE</button>
                </form></li>
            </div>
        </header>
        <div class="shirtsingle"><img src="<%= shirt.img_url %>"></div>
        <div class="history">
            <h2>T-shirt purchase history</h2>
                <table>
                    <tr>
                        <td class="one">Email</td>
                        <td class="three">Quantity</td>
                        <td class="two">Time Purchased</td>
                    </tr>
                    <% if (shirtTransactions) %>
                        <% shirtTransactions.each do |trans| %>
                        <tr>
                            <td class="one"><%= trans.email %></td>
                            <td class="three"><%= trans.trans_quant %></td>
                            <td class="two"><%= trans.created_at %></td>
                        </tr>
                    <% end %>
                </table>
            <% end %>
        </div>
    </body>
</html>