<!DOCTYPE>
<html>
    <body>
        <header>
            <a href = "/index" ><h1>T-Shirt.Ly</h1></a>
            <ul class="adminBar" style = "display: inline-block" >
                <li><form action="/admin/ <%= shirt.id %>" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <input type="number" name="quant" placeholder = "Quantity" required>
                    <input type="number" name="price" placeholder = "Price" required>
                    <input type="text" name="shirt_url" placeholder = "Image URL" required>
                    <button>EDIT</button>
                </form></li>
                <li><form action="/admin/<%= shirt.id %>" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button>DELETE</button>
                </form></li>
            </ul>
        </header>
        <img src="<%= shirt.img_url %>">
        <h2>T-shirt purchase history</h2>
        <% if (shirtTransactions) %>
        <% shirtTransactions.each do |trans| %>
            <ul style = "list-style: none">
                <li><%= trans.email %>
                <%= trans.created_at %>
                <%= trans.trans_quant %></li>
            </ul>
            <% end %>
        <% end %>

    </body>
</html>